include ~common/views/_mixins.pug

section
  .nav.prev
    +image('nav-prev.png', 'prev')
  figure
    +image(image, 'selected-item')
  article
    a.close(href="/") +
    h1= name
    p= description
    footer
      h2= price
      a.add_cart(href="#") Add to cart
  aside
    h3 Nutritional Information
    table
      tbody
        tr
          td Protein
          td= nutritionalInformation.protein
        tr
          td Fat (total)
          td= nutritionalInformation.fat
        tr
          td Carbohydrate
          td= nutritionalInformation.carbohydrate
        tr
          td Energy (kj)
          td= nutritionalInformation.energyKj
        tr
          td Energy (kcal)
          td- nutritionalInformation.energyKcal
        tr
          td Sugar
          td= nutritionalInformation.sugar
  .nav.next
    +image('nav-next.png', 'next')
